<div class="card border-primary mb-3" style="max-width: 20rem">
  <div class="card-header">Add a New Post</div>
  <div class="card-body">
    <form>
      <fieldset>
        <div class="form-group">
          <label for="exampleTextarea">Post Title</label>
          <input type="text" class="form-control" id="postTitle" required />
          <label for="exampleTextarea">Content</label>
          <textarea
            class="form-control"
            id="postBody"
            rows="3"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
